extends layout

block content
  h1 #{title}: #{item.name}
  p #[strong Description:] #{item.description}
  p #[strong Category:] 
    a(href=item.category.url) #{item.category.name} 
  p #[strong Price:] $#{item.price}
  p #[strong Number in stock:] #{item.stock}

  p Do you really want to delete this Item?

    form(method='POST')
      div.form-group 
        input#itemid.form-control(type='hidden' name='itemid' value=item._id)
      button.btn.btn-danger(type='submit') Delete 
